$text-color: #111827;

$text-color-hover: #2563eb;
$hover-color: #1d4ed8;

$text-placeholder-color: #9ca3af;
$text-info-color: #6b7280;
$text-page-color: #6b7280;
$separator: #d1d5db;
$news-card-background: #f9fafb;
$border-color: #e5e7eb;
$bone-color: white;

$background-color: #fef3c7;
$favorite-border-color_1: #fbbf24;
$favorite-border-color_2: #f59e0b;
$border-color_3: #e5e7eb;
